@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(128, 248, 174, 1) 0%,
    rgba(223, 244, 148, 1) 90%
  );
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

/* CSS Reset end */

body {
  padding: 50px 10px;
}

.container {
  padding: 35px;
  background-color: #111;
  color: #f1f1f1;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.top-content {
  text-align: center;
}

.start-info {
  margin-top: 10px;
}

.start-info span {
  padding: 5px;
  background-color: crimson;
  border-radius: 3px;
}

.score-information {
  margin: 40px 0 75px;
  display: flex;
  justify-content: center;
}

.score-information p {
  font-family: Open sans, sans-serif;
  background: linear-gradient(45deg, #131313, #2f2f2f);
  color: #f1f1f1;
  padding: 10px 5px;
  border-radius: 5px;
  min-width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.score-information p:nth-child(2) {
  background: linear-gradient(45deg, #131313, #2f2f2f);
}

.score {
  margin-left: 20px;
}

.text-to-test {
  background-color: transparent;
  border: 2px solid #333;
  font-size: 30px;
  color: #f1f1f1;
  width: 100%;
  min-height: 200px;
  resize: none;
  padding: 20px;
  outline: none;
}

.text-to-test:focus {
  border: 1px solid #6a6a6a;
}

.text-to-test.active {
  border: 1px solid greenyellow;
}

.sentence-to-write {
  margin: 40px 0 40px;
  font-size: 25px;
  min-width: 100px;
  position: relative;
}

.sentence-to-write::before {
  content: '➡️';
  padding-right: 5px;
}

.correct {
  color: #000;
  background-color: #0ecf0e;
}

.wrong {
  color: #fff;
  background: crimson;
  text-decoration: underline;
}
